/vendor
/node_modules
/.idea
tests/_output/*
tests/_support/*

/storage/logs/*

.env
.env.production
readme_laravel.md

/bootstrap/compiled.php
/storage/framework/compiled.php
composer.phar
composer.lock

Thumbs.db
